<html>
 <title>Fyle</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
      <div class="panel-heading">OMDB API (Frontend)</div>
      <div class="panel-body">
      	<div ng-app="app1" ng-controller="controller1" > 
      		{% verbatim %}
      <div class="input-group ">
        <input type="text" list="past" class="form-control" ng-model="name" placeholder="Search any movie" id="movie" name="movie">

        <datalist id="past">
        	
    <!-- <option ng-repeat="y in searchText" value="{{y}}"> -->
  </datalist>

        


        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search()">
          	Search
          </button>
        </span>
      </div>

    <a ng-if="response.Response== 'True'" ng-repeat="x in response.Search" href="omdb/{{x.imdbID}}">
    <div class="panel panel-info">
      <div class="panel-heading">

      	<div class="row">
      		<div class="col-sm-2">
      			<img ng-src="{{x.Poster}}" />
      		</div>
      		<div class="col-sm-10">
      			<h4>{{x.Title}}</h4>
      			<h5>{{x.Year}}</h5>
      		</div>
      	</div>

      
  	</div>
    </div>
  </a>

  <div ng-if="response.Response== 'False'">

No data Found
  </div>


  </div>
  {% endverbatim %}

      </div>
    </div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
		     <div class="panel-heading">Bank Data REST API(Backend)</div>
		     <div class="panel-body">
		     	<ol>
		     		<li>
		     			<h5>To fetch bank details by IFSC</h5>
		     			<p>https://demo-ml-api.herokuapp.com/fyle/branch_details/bank_ifsc_code</p>
		     			<p>Ex: https://demo-ml-api.herokuapp.com/fyle/branch_details/sbin0011545</p>
		     		</li>
		     		<li>
		     			<h5>To fetch all bank details by name and city</h5>
		     			<p>https://demo-ml-api.herokuapp.com/fyle/bank_list/bank_name/bank_city</p>
		     			<p>Ex: https://demo-ml-api.herokuapp.com/fyle/bank_list/canara bank/kolkata</p>
		     		</li>
		     		
		     	</ol>
		     	


		     </div>
		    </div>
		</div>
	</div>
</div>



</body>

<script>
  

angular.module('app1', [])
.controller('controller1', function($scope, $http) 
{


		$scope.searchText=[]
		var dbtemp = openDatabase('omdb', '1.0', 'omdb db for search', 2 * 1024 * 1024);
		dbtemp.transaction(function (tx) { 
		tx.executeSql('CREATE TABLE IF NOT EXISTS LOGS (name unique)');
		tx.executeSql('SELECT * FROM LOGS', [], function (tx, results) {
	  	var len = results.rows.length, i;
	  	console.log(len)
	  	$scope.searchText=""
		  for (i = 0; i < len; i++) {
		   // $scope.searchText.push(results.rows.item(i).name)
		    var a_temp="<option value='"+results.rows.item(i).name+"'></option>"
		    $scope.searchText=$scope.searchText+a_temp;
		  }
		  console.log($scope.searchText)
		  document.getElementById("past").innerHTML = $scope.searchText;
		});
		});

	


  $scope.search = function() {
        
        console.log($scope.name)

         

		dbtemp.transaction(function (tx) { 
		    
		   tx.executeSql('INSERT INTO LOGS (name) VALUES ("'+$scope.name+'")') 
		});

        $http.get("https://www.omdbapi.com/?s="+$scope.name+"&apikey=8b8a6671")
        .then(function (response) 
        {
          $scope.response = response.data;
          console.log($scope.response)
        });
    };
});




</script>



<style type="text/css">
  
  img{
    width: 75%;
  }
</style>

</html>